<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Welcome to Contact List</h1>
	<div>


		<table border="1">
			<tr>

				<th>Contact Name</th>
				<th>Phone Number</th>
			</tr>
			<tr th:each="contact:${contacts}">
				<td th:text="${contact.contactId}">...</td>
				<td th:text="${contact.contactName}">...</td>

				<td><a th:href="@{/delete/{id}(id=${contact.contactId})}">Delete</a></td>
				<td><a th:href="@{/update/{id}(id=${contact.contactId})}">Update</a></td>
			</tr>
		</table>

	</div>

</body>
</html>